Repository bschaatsbergen/dnsee, changes with the labels that .github/labeler.yaml gives for each.
All labels: github-actions, dependencies, documentation, legal

.github/labeler.yaml:

github-actions:
  - changed-files:
      - any-glob-to-any-file:
        - '.github/**'
        - '.goreleaser.yaml'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
        - 'go.mod'
        - 'go.sum'

documentation:
  - changed-files:
      - any-glob-to-any-file:
        - 'README.md'

legal:
  - changed-files:
      - any-glob-to-any-file:
        - 'LICENSE'

fix: use bracket notation around ipv6 addresses to remove ambiguity with port
  pkg/core/core.go
Labels: none

feat: add dns server port flag
  cmd/root.go
  pkg/core/core.go
  pkg/model/flagstore.go
Labels: none

refactor: more clean handling of dns server ip
  cmd/root.go
  pkg/core/core.go
Labels: none

chore: add back debug logging
  pkg/core/core.go
Labels: none

chore: formatting
  pkg/core/core.go
Labels: none

chore: remove misplaced dot
  cmd/root.go
Labels: none

chore: fix output provided in README around MX priority
  README.md
Labels: documentation

chore: fix output provided in README around MX priority (#33)
  README.md
Labels: documentation

feat: improve readability of TTL values in printed records
  pkg/core/core.go
Labels: none

chore: Changed GoReleaser --rm-dist to --clean
  .github/workflows/goreleaser.yaml
Labels: github-actions

feat: add query type to dns query debug log
  pkg/core/core.go
Labels: none

chore: update README to reflect latest version
  README.md
Labels: documentation

feat: properly align displayed results
  cmd/root.go
  go.mod
  go.sum
  pkg/core/core.go
  pkg/model/model.go
Labels: dependencies

chore: increase spacing between columns
  pkg/core/core.go
Labels: none

feat: concat priority and record for MX records
  pkg/core/core.go
Labels: none

refactor: update implementation to use StringSliceVar cobra flag
  cmd/root.go
  pkg/model/flagstore.go
Labels: none

feat: add query type to dns query debug log (#37)
  pkg/core/core.go
Labels: none

chore: tidy go.mod
  go.mod
Labels: dependencies

ci: fix linting and move to separate job
  .github/workflows/ci.yaml
Labels: github-actions

fix: correct attribute name in .golanci.yml
  .golangci.yml
Labels: none

chore: update deprecated linters
  .golangci.yml
Labels: none
